#!/usr/bin/env bash

if [ $# != 1 ]; then
  echo "usage: $(basename $0) SHARE"
  echo "       (view shares with 'pc.shares')"
  exit 1
fi

share="$1"

mountdir=~/pc.shares/${share}

if [ ! -d ${mountdir} ]; then
  mkdir -p ${mountdir}
fi

if [ "$1" = E -o "$1" = 'E$' ]; then
  echo 'Just use /Volumes/E'
  exit
fi

if [ -n "$(ls "$HOME/pc.shares/$1/")" ]; then
  echo "Already mounted in in ~/pc.shares/$1"
  echo 
  echo "to unmount:"
  echo "  umount ~/pc.shares/${share}"
  exit 0
fi

# mount_exfat

echo mount_smbfs //'WORKGROUP;'${USER}'@'${PC}/${share} ${mountdir}
     mount_smbfs //'WORKGROUP;'${USER}'@'${PC}/${share} ${mountdir}

res="$?"

if [ $res != 0 ]; then
  echo "ERROR!"
  exit $res
fi

echo "to unmount:"
echo "  umount ~/pc.shares/${share}"
