#!/usr/bin/env bash

usage() {
  echo "usage: $(basename $0) SHARE"
  echo "       SHARE: A|B"
  echo "       SHARE: C$|P$|V$|W$|X$|Y$|Z$"
  echo
}

if [ $# != 1 ]; then
  usage
  pc.shares
  exit 1
fi

share="$1"

case $share in
  A|B)                  mode=mount_exfat
                        echo 'NOTE: you will have to mount manually with finder :-('
                        exit 1
                        ;;
  C$|P$|V$|W$|X$|Y$|Z$) mode=mount_smbfs;;
  *) usage; exit 1;;
esac

mountdir="$HOME/pc.shares/${share}"

if [ ! -d "${mountdir}" ]; then
  echo mkdir -p ${mountdir}
       mkdir -p ${mountdir}
fi

if [ -n "$(ls "$HOME/pc.shares/$1/")" ]; then
  echo "Already mounted in in ~/pc.shares/$share"
  echo 
  echo "to unmount:"
  echo "  umount $HOME/pc.shares/${share}"
  exit 0
fi

case "$share" in
  A) echo $mode //'WORKGROUP;'${USER}'@'${PC}/${share} ${mountdir}
          $mode //'WORKGROUP;'${USER}'@'${PC}/${share} ${mountdir}
          ;;
  *) echo $mode //'WORKGROUP;'${USER}'@'${PC}/${share} ${mountdir}
          $mode //'WORKGROUP;'${USER}'@'${PC}/${share} ${mountdir}
          ;;
esac

exit

res="$?"

if [ $res != 0 ]; then
  echo "ERROR!"
  exit $res
fi

echo "to unmount:"
echo "  umount ~/pc.shares/${share}"
